In [1]:
import scanpy as sc
import pandas as pd

In [2]:
adata = sc.datasets.pbmc3k_processed()
adata

AnnData object with n_obs × n_vars = 2638 × 1838
    obs: 'n_genes', 'percent_mito', 'n_counts', 'louvain'
    var: 'n_cells'
    uns: 'draw_graph', 'louvain', 'louvain_colors', 'neighbors', 'pca', 'rank_genes_groups'
    obsm: 'X_pca', 'X_tsne', 'X_umap', 'X_draw_graph_fr'
    varm: 'PCs'
    obsp: 'distances', 'connectivities'

In [3]:
adata_raw = adata.raw.to_adata()
adata_raw

AnnData object with n_obs × n_vars = 2638 × 13714
    obs: 'n_genes', 'percent_mito', 'n_counts', 'louvain'
    var: 'n_cells'
    uns: 'draw_graph', 'louvain', 'louvain_colors', 'neighbors', 'pca', 'rank_genes_groups'
    obsm: 'X_pca', 'X_tsne', 'X_umap', 'X_draw_graph_fr'
    obsp: 'distances', 'connectivities'

In [6]:
exprs = adata_raw.X
exprs

<2638x13714 sparse matrix of type '<class 'numpy.float32'>'
	with 2238732 stored elements in Compressed Sparse Row format>

In [52]:
exprs_dense = exprs.toarray()
exprs_dense

array([[0.       , 0.       , 0.       , ..., 0.       , 0.       ,
        0.       ],
       [0.       , 0.       , 0.       , ..., 0.       , 0.       ,
        0.       ],
       [0.       , 0.       , 0.       , ..., 0.       , 0.       ,
        0.       ],
       ...,
       [0.       , 0.       , 0.       , ..., 0.       , 0.       ,
        0.       ],
       [0.       , 0.       , 0.       , ..., 0.6931472, 0.       ,
        0.       ],
       [0.       , 0.       , 0.       , ..., 0.       , 0.       ,
        0.       ]], dtype=float32)

In [63]:
sum_sparse = np.array(exprs.sum(axis=0)).reshape(-1)
sum_dense = np.array(exprs_dense.sum(axis=0)).reshape(-1)
mean_sparse = np.array(exprs.mean(axis=0)).reshape(-1)
mean_dense = np.array(exprs_dense.mean(axis=0)).reshape(-1)

In [70]:
d = pd.DataFrame({
  "gene": adata_raw.var_names,
  "sum_sparse": sum_sparse,
  "sum_dense": sum_dense,
  "sum_diff": sum_sparse - sum_dense,
  "mean_sparse": mean_sparse,
  "mean_dense": mean_dense,
  "mean_diff": mean_sparse - mean_dense,
})
d

,gene,sum_sparse,sum_dense,sum_diff,mean_sparse,mean_dense,mean_diff
0,AL627309.1,6.238325,6.238325,0.0,0.002365,0.002365,0.000000e+00
1,AP006222.2,2.079442,2.079442,0.0,0.000788,0.000788,0.000000e+00
2,RP11-206L10.2,3.465736,3.465736,0.0,0.001314,0.001314,1.164153e-10
3,RP11-206L10.9,2.079442,2.079442,0.0,0.000788,0.000788,0.000000e+00
4,LINC00115,12.476652,12.476652,0.0,0.004730,0.004730,-9.313226e-10
...,...,...,...,...,...,...,...
13709,AC145212.1,11.208139,11.208139,0.0,0.004249,0.004249,-4.656613e-10
13710,AL592183.1,236.861130,236.861130,0.0,0.089788,0.089788,-7.450581e-09
13711,AL354822.1,5.545177,5.545177,0.0,0.002102,0.002102,2.328306e-10
13712,PNRC2-1,77.985764,77.985764,0.0,0.029562,0.029562,-7.450581e-09
13713,SRSF10-1,47.539463,47.539463,0.0,0.018021,0.018021,3.725290e-09

In [68]:
exprs

<2638x13714 sparse matrix of type '<class 'numpy.float32'>'
	with 2238732 stored elements in Compressed Sparse Row format>